.myContainer {
    max-width: min(960px, 90%);
    margin: auto;
    overflow-x: hidden;
    padding-top: 30px;
}

.selfie {
    object-fit: contain;
    padding: 20px;
}

.contactContainer {
    height: calc(100vh - 54px);
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}



.card {
    max-height: 300px;
    max-width: 13rem;
    margin: 15px;
}

.row {
    justify-content: center;
}



@media only screen and (min-width: 992px) {
    .navwrapper {
        display: flex;
        width: min(960px, 90%);
        margin: auto;
    }



    /* !!I'll be honest, getting these buttons to the right was a challenge */
    .navbar-nav {
        justify-self: flex-end;
        justify-content: end;
        justify-items: end;
        margin-right: 20px !important;
        margin-left: auto;
        float: right;
    }
}

@media only screen and (max-width: 992px) {
    .navwrapper {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    textarea {
        border: thin solid black;
    }

    img {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .navbar {
        display: block !important;
    }

    .bootstrapWontLetMeFloat {
        display: flex;
    }
}